div.conteiner {
    background-color: bisque;
    display: flex;
    flex-flow: row nowrap;
}
div.item {
    background-color: blueviolet;
    border: 1px solid black;
    text-align: center;
    flex-basis: 200px;
}
div#cxA {
   flex-shrink: 1;
   flex-grow: 1;
}
div#cxB {
   flex-shrink: 1;
   flex-grow: 1;
}
div#cxC {
    flex-shrink: 2;
    flex-grow: 1;
}
*/ ordem dos valores: flex-grow, flex-shrink, flex-basis */