*{
    margin: 0px;
    height: 0px;
    box-sizing: 0px;
}
body{
    background-color: blanchedalmond;
}
main{
    background-color: rgb(122, 91, 62);
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
section{
    background-color: aqua;
    height: 200px;
    width: 200px;

}