div.conteiner {
    background-color: bisque;

    display: flex;
    height: 50px;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

}
div.item {
    background-color: rgb(139, 137, 141);
    border: 1px solid black;
    text-align: center;
}